.details-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .details-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 30%;
  }
}

.bal {
  background-color: #ecfccb;
  border-color: #84cc16;
}

.inc {
  background-color: #cffafe;
  border-color: #06b6d4;
}

.exp {
  background-color: #ede9fe;
  border-color: #7c3aed;
}

.image {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.money-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 100%;
}

.type-option {
  color: #475569;
  font-size: 13px;
  font-family: 'Roboto';
}

.amount-text {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 24px;
}
